/* For demo */
.detail-margined{
  margin-bottom: 15px;
}
img {
  max-height: 500px;
  height: 100%;
  width: auto;
}
.detail-holder {
  max-width: 600px;
  margin: 0 auto;
}
.ant-carousel .slick-slide {
  text-align: center;
  background:transparent;
  height: 500px;
  line-height: 500px;
  overflow: hidden;
}

.image{
  object-fit: scale-down;
}

.img-container{
  float: left;
  width: 40%;
  margin: 0 30px 20px 0;
}

.slick-dots{
  color: black;
}

.ant-carousel .slick-slide img{
  width: 600px;
}
